:root {
  /* background */
  --c-dark: #141d2d;
  --c-light: #fff;
  --c-accent: #ff6b08;

  --c-dark-blue: #253045;
  --c-grey-blue: #4a5771;
  --c-grey-light: #f1f2f2;
  --c-grey: #bcc1d2;

  /* text */
  --txt-c-dark: var(--c-dark);
  --txt-c-grey: #4f5b70;
  --txt-c-grey-light: var(--c-grey-light);
  --txt-c-accent: var(--c-accent);
  --txt-c-light: var(--c-light);

  /* font */
  --font-main: "Acrom", sans-serif;

  /* container width */
  --vertical-scroll: 20px;
  --mobile: calc(300px + var(--vertical-scroll));
  --tablet: calc(640px + var(--vertical-scroll));
  --desktop: calc(900px + var(--vertical-scroll));
  --desktop-lg: calc(1146px + var(--vertical-scroll));

  /* animation */
  --animation-fast: 0.1s;
  --animation-slow: 0.3s;
}

@font-face {
  font-family: "Acrom";
  src: url("../fonts/acrom/Acrom-ExtraBold.eot");
  src: local("Acrom ExtraBold"), local("Acrom-ExtraBold"),
    url("../fonts/acrom/Acrom-ExtraBold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/acrom/Acrom-ExtraBold.woff") format("woff"),
    url("../fonts/acrom/Acrom-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Acrom";
  src: url("../fonts/acrom/Acrom-Bold.eot");
  src: local("Acrom Bold"), local("Acrom-Bold"),
    url("../fonts/acrom/Acrom-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/acrom/Acrom-Bold.woff") format("woff"),
    url("../fonts/acrom/Acrom-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Acrom";
  src: url("../fonts/acrom/Acrom-Regular.eot");
  src: local("Acrom Regular"), local("Acrom-Regular"),
    url("../fonts/acrom/Acrom-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/acrom/Acrom-Regular.woff") format("woff"),
    url("../fonts/acrom/Acrom-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
* {
  box-sizing: border-box;
}

/*Common */
.accent-btn {
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  background: var(--txt-c-accent);
  text-align: center;
  padding: 22px 29px;
  color: var(--c-light);
  outline: none;
  border: none;
  cursor: pointer;
  border: 1px solid var(--txt-c-accent);
  transition: 0.5s ease-in-out;
}

.accent-btn:hover {
  background: var(--c-light);
  color: var(--txt-c-accent);
  background: transparent;
  outline: none;
}

.container {
  max-width: 302px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 30px 10px 55px 10px;
}

.container-left {
  align-items: flex-start;
}

.section-title {
  font-weight: bold;
  font-size: 35px;
  line-height: 42px;
  text-align: center;
  text-transform: uppercase;
  color: var(--txt-c-light);
}
/*Common */

body {
  font-family: var(--font-main);
}

/* Front page */
.front-page {
  background: var(--c-dark);
  padding: 30px 10px 55px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.front-page__name {
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  text-transform: uppercase;
  color: var(--txt-c-accent);
  text-align: center;
  margin: 35px 0 10px 0;
}
.front-page__proffesion {
  text-align: center;
  font-weight: bold;
  font-size: 35px;
  line-height: 42px;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--c-light);
}
.front-page__description {
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  margin-bottom: 20px;
  color: var(--c-light);
}
.navigation {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hire-me-btn {
  font-weight: 800;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: var(--txt-c-accent);
  text-decoration: none;
  margin-right: 20px;
}
.mobile-menu {
  width: 30px;
  height: 30px;
  background: var(--txt-c-accent);
  display: inline-block;
}
.mobile-menu .fa-bars {
  color: var(--txt-c-light);
  font-size: 10px;
  padding: 10px 12px 11px 10px;
}
.front-page__workshop {
  margin-bottom: 40px;
}
.front-page__my-foto {
  max-width: 100px;
  margin-bottom: 20px;
}
.front-page__about {
  font-weight: bold;
  font-size: 15px;
  line-height: 140%;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: var(--c-light);
  margin: 0 0 15px 0;
}
.front-page__play-button {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: var(--txt-c-accent);
  padding: 10px 40px;
  border: 2px solid var(--txt-c-accent);
  background-color: transparent;
  margin-bottom: 35px;
  transition: 0.5s ease-in-out;
}
.front-page__play-button:hover {
  background: var(--c-accent);
  color: var(--c-light);
}
.front-page__play-button i {
  font-size: 9px;
  margin-right: 7px;
}
.front-page__laptop {
  max-width: 250px;
  margin-bottom: 40px;
}
.exp-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.exp-title {
  width: 240px;
  font-weight: bold;
  font-size: 15px;
  line-height: 140%;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: var(--c-light);
  margin: 0 0 30px 0;
}

.exp-skills__list {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.exp-skills__list:last-child {
  margin-bottom: 0;
}
.exp-skills-dots {
  display: flex;
  align-items: center;
  margin-right: 10px;
}
.exp-skills-dots__item {
  color: var(--c-grey-blue);
  font-size: 8px;
  margin-right: 5px;
}
.exp-skills-dots__item-accent {
  color: var(--txt-c-accent);
}
.exp-text {
  color: var(--txt-c-light);
  margin: 0;
  font-size: 16px;
  line-height: 19px;
}

/* ABOUT PAGE */

.about-title {
  color: var(--txt-c-dark);
  text-align: left;
  width: 280px;
  margin: 20px 0;
}

.about-descr {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  color: var(--txt-c-light);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
}

.about-descr span {
  background: var(--c-dark-blue);
  padding: 4px 9px;
}

.about-text {
  font-weight: normal;
  font-size: 17px;
  line-height: 150%;
  color: var(--c-dark);
  margin: 0 0 30px 0;
}

.about-text:last-child {
  margin-bottom: 0;
}

.about-img-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;
}

.about-img-text {
  font-weight: bold;
  font-size: 150px;
  line-height: 180px;
  text-transform: uppercase;
  color: var(--txt-c-grey-light);
  writing-mode: tb-rl;
  margin: auto;
  position: relative;
}

.about-img {
  width: 235px;
  height: 254px;
  position: absolute;
  left: -35px;
  top: 55px;
}

/* PERSONAL PROJECT */

.personal-projects {
  background: var(--c-dark);
}

.personal-project-item-container {
  padding-top: 40px;
  background: var(--c-dark-blue);
  border-radius: 5px 5px 0 0;
  position: relative;
}

.personal-project-name {
  font-weight: normal;
  font-size: 17px;
  line-height: 150%;
  color: var(--txt-c-light);
  margin: 25px 0;
  display: flex;
}

.personal-project-img {
  width: 100%;
}

.personal-projects-title {
  margin-top: 20px;
}

.projet-item-dot-container {
  display: flex;
  position: absolute;
  top: 17px;
  left: 20px;
}

.personal-project-item {
  border-bottom: 1px solid var(--c-grey-blue);
  margin-bottom: 30px;
}

.personal-project-item:last-child {
  margin-bottom: 0;
}

.projet-item-dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: var(--c-grey-blue);
  margin-right: 7px;
}

.projet-item-dot:first-child {
  background: var(--c-accent);
}

.personal-project-icon {
  font-size: 18px;
  color: var(--c-accent);
  margin-right: 15px;
  margin-top: 3px;
}

.personal-project-btn {
  padding: 15px 30px 15px 10px;
  margin-bottom: 30px;
}

/* TEAM PROJECT */

.team-projects .container {
  position: relative;
  overflow-x: hidden;
  padding-bottom: 0;
}

.team-projects-title {
  color: var(--txt-c-dark);
  position: relative;
  margin-bottom: 40px;
}

.team-projects-title-bgd {
  position: absolute;
  top: -50px;
  left: 45px;
  font-weight: bold;
  font-size: 150px;
  line-height: 180px;
  text-transform: uppercase;
  color: var(--txt-c-grey-light);
  z-index: -1;
}

.team-project-name {
  font-weight: normal;
  font-size: 17px;
  line-height: 150%;
  color: var(--txt-c-dark);
  margin: 25px 0;
  display: flex;
}

.team-project-item {
  border-bottom: 1px solid var(--c-grey-light);
  margin-bottom: 30px;
}

.team-project-item:last-child {
  margin-bottom: 0;
}

/* Callback form */

.callback-form__container {
  background: var(--c-dark);
  padding: 35px 30px 40px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.callback-form__title {
  width: 260px;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  text-transform: uppercase;
  color: var(--txt-c-light);
  margin: 0 0 20px 0;
}
.callback-form__descr {
  font-size: 17px;
  width: 260px;
  line-height: 150%;
  text-align: center;
  color: var(--txt-c-light);
  margin: 0 0 30px 0;
}
.callback-form__input {
  font-size: 17px;
  line-height: 150%;
  background: transparent;
  border: none;
  outline: none;
  padding: 10px 10px 15px 10px;
  border-bottom: 1px solid var(--c-grey-blue);
  text-align: center;
  color: var(--c-grey-blue);
  margin-bottom: 30px;
  transition: 0.5s ease-in-out;
}
.callback-form__input:hover::placeholder {
  color: var(--c-accent);
  transition: 0.5s ease-in-out;
}

.callback-form__input:hover {
  border-bottom: 1px solid var(--c-accent);
  transition: 0.5s ease-in-out;
}

/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 1.95em;
  cursor: pointer;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border: 1px solid #ccc;
  background: #fff;
  border-radius: 4px;
  box-shadow: inset 0 1px 3px var(--c-accent);
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: "";
  left: 6px;
  top: 7px;
  display: block;
  position: absolute;
  width: 9px;
  height: 9px;
  background: var(--c-accent);
  transition: all 0.2s;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
[type="checkbox"]:disabled:checked + label:after {
  color: #999;
}
[type="checkbox"]:disabled + label {
  color: #aaa;
}

/* hover style just for information */
label:hover:before {
  border: 2px solid var(--c-accent) !important;
}

/* CALCULATOR FORM SECTION */

.calculator {
  background: var(--c-dark);
}
.calculator .container {
  padding-bottom: 75px;
}

.calculator-icon {
  width: 195px;
}

.calculator-descr {
  font-weight: bold;
  font-size: 24px;
  line-height: 150%;
  text-align: center;
  text-transform: uppercase;
  color: var(--txt-c-light);
  margin: 0 0 30px 0;
}

.calculator-descr span {
  background: var(--c-accent);
  padding: 5px;
}

.calculator-descr .calculator-descr-accent {
  padding: 5px 10px;
}

.calculator-title {
  width: 270px;
  margin-bottom: 20px;
}

.calculator-text {
  font-size: 17px;
  line-height: 150%;
  text-align: center;
  color: var(--txt-c-light);
  margin: 20px 0 30px 0;
}
.calculator-form {
  background: var(--c-light);
  padding: 30px 25px;
}
.calculator-form__input {
  display: flex;
  flex-direction: column;
  margin: 0 0 30px 0;
}
.calculator-form__title {
  font-weight: bold;
  font-size: 17px;
  line-height: 135%;
  color: var(--text-c-dark);
  margin-bottom: 15px;
}
.calculator-form__select {
  background: transparent;
  border: none;
  border-bottom: 1px solid var(--c-grey-light);
  padding: 5px 0 17px 0;
}

select:focus > option:checked {
  background: var(--c-accent) !important;
  color: var(--c-light);
}
option {
  color: #6666;
}
option:hover {
  color: red;
}

.calculator-form__radio-container {
  display: flex;
  align-items: center;
}
.calculator-form__input-field {
  margin-right: 10px;
}
.calculator-form__input-label {
  margin-right: 15px;
  font-size: 17px;
  line-height: 150%;
  color: var(--text-c-dark);
}
.calculator-form__total-title {
  font-weight: bold;
  font-size: 17px;
  line-height: 150%;
  color: var(--text-c-dark);
  margin: 0;
}
.calculator-form__total-price {
  font-weight: bold;
  font-size: 36px;
  line-height: 150%;
  color: var(--txt-c-dark);
  margin: 0;
}

/* Footer */
.footer__info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__info a {
  transition: all 0.7s;
}
.footer__info a:hover {
  color: var(--c-accent);
}
.footer__title {
  font-weight: bold;
  font-size: 17px;
  line-height: 150%;
  color: var(--txt-c-dark);
  margin: 0;
}
.footer__proff {
  font-size: 17px;
  line-height: 150%;
  color: var(--c-dark-blue);
  margin-bottom: 20px;
}
.footer__phone {
  font-weight: bold;
  font-size: 17px;
  line-height: 150%;
  color: var(--txt-c-dark);
  margin-bottom: 15px;
  text-decoration: none;
}
.footer__email {
  font-size: 17px;
  line-height: 150%;
  text-align: center;
  color: var(--txt-c-dark);
  margin-bottom: 30px;
  text-decoration: none;
}
.footer__icons {
  display: flex;
  align-items: center;
}

.footer__icons__links {
  margin-left: 33px;
  font-size: 25px;
  color: var(--c-dark-blue);
  margin-left: 33px;
  transition: 0.9s ease-in-out;
}
.footer__icons__links:first-child {
  margin-left: 0;
}
.footer__icons__links:hover {
  color: var(--c-accent);
  transform: rotate(360deg);
}
